[[inputs.snmp]]
  agents = ["udp://{{ instance['ip'] }}:{{instance['port']}}"]
  version = {{ config['inputs'][instance['auth']]['version'] }}
  timeout = "{{ config['inputs'][instance['auth']]['timeout'] }}"
  retries = {{ config['inputs'][instance['auth']]['retries'] }}
  community = "{{ config['inputs'][instance['auth']]['community'] }}"
